@import '../index.scss';

.desktop-layout {
  height: 100%;
  background-color: #f2f2f2;
  margin-bottom: $space-lg;
  .upper-section {
    display: flex;
    width: 100%;
    .upper-right-section {
      padding-left: $space-lg;
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      background-color: #f2f2f2;
      .player-info {
        margin-bottom: $space-md;
      }
    }
  }
  .bottom-section {
    width: 100%;
    background-color: #c2c2c2;
    height: 100%;
    .inventory-section {
      display: inline-block;
      padding: $space-lg;
      border-right: solid 2px orange;
      height: 100%;
      width: 15em;
    }
    .quest-section {
      display: inline-block;
      padding: $space-lg;
      height: 100%;
    }
  }
}
