@import '../index.scss';

.quest {
  flex: 3 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: $space-lg;
  h2 {
    font-weight: normal;
  }
  span {
    margin-top: $space-md;
    margin-bottom: $space-md;
  }
  .line-container {
    font-size: 1.5em;
    text-align: center;
    position: relative;
    span {
      vertical-align: middle;
      position: relative;
      bottom: 1.5em;
    }
  }
}
