.progressbar-container{
  width: 12em;
  position: absolute;
  top: 8.5em;
  left: 9.5em;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid #fff;
  div {
    display: inline-block;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 1.5em;
    span {
      margin-top: 0.5em;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
