@import '../index.scss';

.inventory-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  
  &.mobile {
    padding-top: 104px;
  }

  .inventory-menu {
    height: 100%;
    padding: 0;
    text-align: center;
    font-size: 1.5em;
    list-style: none;

    li {
      margin: $space-md;
      background: $color-primary-light;
      border-radius: 10px;
      a {
        padding: $space-md 0 $space-md 0;
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
