@import '../index.scss';

.login-container {
  background: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .login-panel {
      background: #ddd;
      border-radius: 20px;
      text-align: center;
      padding: $space-md;
      margin: $space-md;  

      .input-container {
        input {
          display: block;
          margin: $space-md auto;
        }
      }
  }
}