@import '../index.scss';

.quest-item {
  margin-right: 5%;
  a {
    text-decoration: none;
    color: black;
  }
  span {
    margin-bottom: $space-md;
  }
  .line-container {
    font-size: 1.5em;
    text-align: center;
    position: relative;
    span {
      vertical-align: middle;
      position: relative;
      bottom: 1.5em;
    }
  }
}