@import '../index.scss';

.quest-list {
  padding: 20px;
  overflow: scroll;
  h2 {

    text-align: left;
    font-size: 2.5em;
  }
  .completed {
    background-color: lightgray;
  }
  li {
    list-style-type: none;
  }
}