@import '../index.scss';

.quest-single {
  height: calc(100% - 92px);
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 30%;
  h2 {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50%;
    height: 50%;
    text-align: left;
    font-size: 2.5em;
  }
  .description {
    margin-top: 0.5em;
  }
  .line-container {
    margin-top: 0.5em;
    font-size: 1.5em;
    text-align: center;
    position: relative;
    span {
      vertical-align: middle;
      position: relative;
      bottom: 1.5em;
    }
  }
}