@import '../index.scss';

.modal {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-panel {
    color: wheat;
    padding: $space-md;
    background: $color-primary-light;
    border: 3px solid $color-primary;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    canvas {
      display: block;
      margin: auto;
      margin: $space-md auto;
      border: 2px solid $color-primary;
      background: white;
    }

    button {
      padding: $space-md;
    }
  }

  &-background {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background: black;
  }
}

.ui.modal {
  padding: 0;
  margin: 0;
}

.ui.modal > .content {
  padding: 0 !important;
}