$space-sm: 5px;
$space-md: 10px;
$space-lg: 20px;

$color-primary: #eb9605;
$color-primary-light: #ffbf00;

$lw-black: #000;
$lw-grey: #7a8292;
$lw-light-grey: #EBEBEB;
$lw-medium-grey: #A2A6B3;
$lw-dark-grey: #636A7A;
$lw-tainted-white: #f4f4f4;
$lw-orange: #f3bf51;

$avatar-size: 270px;

body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

html, body, #root, #root>div {
  height: 100%;
}
