$space-sm: 5px;
$space-md: 10px;
$space-lg: 20px;

$color-primary: #eb9605;
$color-primary-light: #ffbf00;
$white: #f3f3f3;


$lw-black: #000;
$lw-grey: #7a8292;
$lw-light-grey: #EBEBEB;
$lw-medium-grey: #A2A6B3;
$lw-dark-grey: #636A7A;
$lw-tainted-white: #f4f4f4;
$lw-orange: #f3bf51;

$avatar-size: 270px;

$lw-main-font-face:Tahoma;
$lw-main-font-size: 20px;
$lw-small-screen-size: 768px;
$lw-min-height: 500px;

$lw-border: 1px solid #000;

$lw-header-height: 60px;
$lw-toolbar-height: 60px;
$lw-navbar-height: 60px;
$lw-topbar-height: $lw-header-height + $lw-navbar-height;
$lw-footer-height: 30px;

body {
  margin: 0;
  padding: 0;
  font-family: $lw-main-font-face !important;
  font-weight: 300;
}



* {
  box-sizing: border-box;
}
